li {
    list-style: none;
}

* {
    margin: 0;
}

@media (max-width: 600px) {
    header {
        height: 100%;
        background-image: url('img/stallegion.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }

    .header-div-h1 {
        font-family: "Wallpoet", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    .languige {
        display: flex;
        justify-content: space-around;
    }

    .header-div-div {
        display: flex;
        justify-content: space-around;
    }

    .languige-button {
        width: 100px;
    }


    .div-modal {
        display: flex;
        justify-content: space-around;
    }

    .radio-inputs {
        margin-left: 0px;
        position: relative;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        box-sizing: border-box;
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
        padding: 0.25rem;
        width: 100px;
        font-size: 8px;
    }

    .radio-inputs .radio {
        flex: 1 1 auto;
        text-align: center;
    }

    .radio-inputs .radio input {
        display: none;
    }

    .radio-inputs .radio .name {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: none;
        padding: .5rem 0;
        color: rgb(255, 254, 254);
        transition: all .15s ease-in-out;
    }

    .radio-inputs .radio input:checked+.name {
        background-color: #2b2b2b;
        font-weight: 600;
    }

    .radio-inputs2 {
        margin-left: -50px;
        position: relative;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        box-sizing: border-box;
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
        padding: 0.25rem;
        width: 100px;
        font-size: 8px;
    }

    .radio-inputs2 .radio2 {
        flex: 1 1 auto;
        text-align: center;
    }

    .radio-inputs2 .radio2 input {
        display: none;
    }

    .radio-inputs2 .radio2 .name2 {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: none;
        padding: .5rem 0;
        color: rgb(255, 254, 254);
        transition: all .15s ease-in-out;
    }

    .radio-inputs2 .radio2 input:checked+.name2 {
        background-color: #2b2b2b;
        font-weight: 600;
    }

    .nav {
        margin-top: 10px;
        text-align: center;
    }

    .nav-div-h1 {
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
        color: rgb(243, 232, 186);
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
    }

    .nav-div-h3 {
        margin-top: -8px;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
    }

    .nav-div-button {
        margin-top: 10px;
    }


    .container {
        display: grid;
        place-items: center;
        margin-top: 10px;
    }

    .ui-btn {
        --btn-default-bg: rgb(41, 41, 41);
        --btn-padding: 15px 20px;
        --btn-hover-bg: rgb(51, 51, 51);
        --btn-transition: .3s;
        --btn-letter-spacing: .1rem;
        --btn-animation-duration: 1.2s;
        --btn-shadow-color: rgba(0, 0, 0, 0.137);
        --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
        --hover-btn-color: #FAC921;
        --default-btn-color: #fff;
        --font-size: 16px;
        /* 👆 this field should not be empty */
        --font-weight: 600;
        --font-family: Menlo, Roboto Mono, monospace;
        /* 👆 this field should not be empty */
    }

    /* button settings 👆 */

    .ui-btn-span {
        font-size: 10px;
    }

    .ui-btn {
        height: 30%;
        width: 30%;
        border-radius: 10px;
        box-sizing: border-box;
        padding: var(--btn-padding);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--default-btn-color);
        font: var(--font-weight) var(--font-size) var(--font-family);
        background: var(--btn-default-bg);
        border: none;
        cursor: pointer;
        transition: var(--btn-transition);
        overflow: hidden;
        box-shadow: var(--btn-shadow);
    }

    .ui-btn span {
        letter-spacing: var(--btn-letter-spacing);
        transition: var(--btn-transition);
        box-sizing: border-box;
        position: relative;
        background: inherit;
    }

    .ui-btn span::before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        background: inherit;
    }

    .ui-btn:hover,
    .ui-btn:focus {
        background: var(--btn-hover-bg);
    }

    .ui-btn:hover span,
    .ui-btn:focus span {
        color: var(--hover-btn-color);
    }

    .ui-btn:hover span::before,
    .ui-btn:focus span::before {
        animation: chitchat linear both var(--btn-animation-duration);
    }

    @keyframes chitchat {
        0% {
            content: "#";
        }

        5% {
            content: ".";
        }

        10% {
            content: "^{";
        }

        15% {
            content: "-!";
        }

        20% {
            content: "#$_";
        }

        25% {
            content: "№:0";
        }

        30% {
            content: "#{+.";
        }

        35% {
            content: "@}-?";
        }

        40% {
            content: "?{4@%";
        }

        45% {
            content: "=.,^!";
        }

        50% {
            content: "?2@%";
        }

        55% {
            content: "\;1}]";
        }

        60% {
            content: "?{%:%";
            right: 0;
        }

        65% {
            content: "|{f[4";
            right: 0;
        }

        70% {
            content: "{4%0%";
            right: 0;
        }

        75% {
            content: "'1_0<";
            right: 0;
        }

        80% {
            content: "{0%";
            right: 0;
        }

        85% {
            content: "]>'";
            right: 0;
        }

        90% {
            content: "4";
            right: 0;
        }

        95% {
            content: "2";
            right: 0;
        }

        100% {
            content: "";
            right: 0;
        }
    }

    .nav-div-2 {
        align-items: center;
    }






    .modal {
        display: none;
        /* Скрыто по умолчанию */
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        /* Затемнение фона */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    /* From Uiverse.io by adamgiebl */
    .card {
        margin-top: -230px;
        margin-left: 60px;
        width: 190px;
        height: 254px;
        border-radius: 20px;
        padding: 5px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    }

    .card__content {
        background: rgb(5, 6, 45);
        border-radius: 17px;
        width: 100%;
        height: 100%;
    }

    /* Содержимое модального окна */
    .modal-content {

        text-align: center;
    }

    /* Кнопка закрытия */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
    }


    /* From Uiverse.io by satyamchaudharydev */
    .button {
        margin-left: 45px;
        margin-top: 110px;
        --width: 100px;
        --height: 35px;
        --tooltip-height: 35px;
        --tooltip-width: 150px;
        --gap-between-tooltip-to-button: 18px;
        --button-color: #1163ff;
        --tooltip-color: #fff;
        width: var(--width);
        height: var(--height);
        background: var(--button-color);
        position: relative;
        text-align: center;
        border-radius: 0.45em;
        font-family: "Arial";
        transition: background 0.3s;
    }

    .button::before {
        position: absolute;
        content: attr(data-tooltip);
        width: var(--tooltip-width);
        height: var(--tooltip-height);
        background-color: var(--tooltip-color);
        font-size: 0.9rem;
        color: #111;
        border-radius: .25em;
        line-height: var(--tooltip-height);
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
        left: calc(50% - var(--tooltip-width) / 2);
    }

    .button::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: var(--tooltip-color);
        left: calc(50% - 10px);
        bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
    }

    .button::after,
    .button::before {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-wrapper,
    .text,
    .icon {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .text {
        top: 0
    }

    .text,
    .icon {
        transition: top 0.5s;
    }

    .icon {
        color: #fff;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon svg {
        width: 24px;
        height: 24px;
    }

    .button:hover {
        background: #6c18ff;
    }

    .button:hover .text {
        top: -100%;
    }

    .button:hover .icon {
        top: 0;
    }

    .button:hover:before,
    .button:hover:after {
        opacity: 1;
        visibility: visible;
    }

    .button:hover:after {
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
    }

    .button:hover:before {
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
    }

}